{% extends 'secondsite/base.html.twig' %}
{% block title %}Demonstration{% endblock %}
{% block body %}
   <div class="container">
       <h1 class="text-center text-success ">Page de demonstration de notre site internet !</h1>
       <hr>
       <div class="text-center">
           <iframe width="80%" height="440" src="https://www.youtube.com/embed/HXzM1LViOmM" frameborder="0"
                   allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                   allowfullscreen></iframe>
       </div>
   </div>
{% endblock %}

