<!-- FOOTER -->
    <footer class="container-fluid footer-per">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p><i class="far fa-copyright"></i> 2017-2020 Boutique Malienne <br>
            <smal>La boutique 100% made in Mali <br>
             <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
            </smal>
        </p>
    </footer>

