<style>
footer{
 
  height:100px;
  margin-bottom : 0;
}
</style>
<footer class="mt-1 bg-dark text-light py-3 text-center">
   <p class="h4"><span class="text-success mr-2">Copyright</span><i class="far fa-copyright text-warning"></i>
       <a href="/">
       <span class="text-danger">Super-Agence-Digitale !</span>
       </a>
   </p>
   <!-- Add font awesome icons -->
  <div class="socio">
      <a class="text-light social" href="https://www.facebook.com/ismalsacko">
          <i class="fab fa-facebook fa-2x"></i>
      </a>
      <a href="https://twitter.com/ismaels
   acko1" class="text-light">
          <i class="fab fa-twitter fa-2x"></i>
      </a>
      <a href="https://www.linkedin.com/in/isma%C3%A9l-sacko-6a5841151/" class="text-light">
          <i class="fab fa-linkedin fa-2x"></i>
      </a>
      <a class="text-light" href="https://www.youtube.com/channel/UC0eh_RKDPl3_ie49_UPkCzQ?view_as=subscriber" >
          <i class="fab fa-youtube fa-2x"></i>
      </a>
      <a href="https://www.instagram.com/ismael.sacko/?hl=fr" class="text-light">
          <i class="fab fa-instagram fa-2x"></i>
      </a>
      <a href="#" class="text-light" id="i"> <i class="fab fa-snapchat fa-2x"></i></a>
      <a href="https://join.skype.com/invite/pzAKKM3xkIBv" class="text-light">
          <i class="fab fa-skype fa-2x"></i>
      </a>
  </div>

</footer>